.main_container
  #container

%script#layout{type: "template"}
  %p A simple layout
  #subview
  #subview2
  #subview3
/ View template
%script#view{type: "template"}
  This is the sub1 view content...

%script#view2{type: "template"}
  This is the sub2 view content...

%script#view3{type: "template"}
  This is the sub 3view content...


%script#timeline-template{type: "text/x-handlebars-template"}
  %ul.listview
    {{# each tweet }}
    %li
      .icon
        %img{src: "{{ user.profile_image_url }}"}
      .data
        %h4 {{  user.name }}
        %h4 {{  friendlyDate }}
        %p {{ format text }}
    {{/each}}

%script#profile-template{type: "text/x-handlebars-template"}
  .tiles.clearfix
    .tile.double.bg-color-orangeDark
      .tile-content
        %img.place-left{src: "{{user.profile_image_url}}" }
        %h3{style: "margin-bottom: 5px;"}
          {{ user.name }}
        %p
          {{ user.description }}
        .brand
          .badge
            {{ user.followers_count }}
            Followers
