#qunit
#qunit-fixture

#app.grid
  .row
    .span8
      #timeline.timeline-view
        %h2 My Tweets
    .span4
      #profile.profile-view
      #search.search-view
        %form
          .input-control.text
            %input#searchbox{autofocus: "", placeholder: "I'm\r\nlooking for..", type: "text"}/
          %button#searchbutton.bg-color-blue Search

%script#timeline-template{type: "text/x-handlebars-template"}
  %ul.listview
    {{# each tweet }}
    %li
      .icon
        %img{src: "{{ user.profile_image_url }}"}
      .data
        %h4 {{  user.name }}
        %h4 {{  friendlyDate }}
        %p {{ format text }}
    {{/each}}

%script#profile-template{type: "text/x-handlebars-template"}
  .tiles.clearfix
    .tile.double.bg-color-orangeDark
      .tile-content
        %img.place-left{src: "{{user.profile_image_url}}" }
        %h3{style: "margin-bottom: 5px;"}
          {{ user.name }}
        %p
          {{ user.description }}
        .brand
          .badge
            {{ user.followers_count }}
            Followers
